<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <!-- add o jquery-->
    <title>Cadastro de Funcionários - Academia</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            function getCargo() { /* Função para obter as nacionalidades da rota*/
                $.ajax({
                    url: "/cargo/add", /* Chamada da rota*/
                    type: "GET", /* Método usado pela rota*/
                    dataType: "json", /* Tipo de dado retornado pela rota*/
                    success: function (res) { /* Inclui os elementos do <select>*/
                        $("#inputCargo").html("<option selected>(Selecione um cargo)</option>");
                        $.each(res.resultado, function (key, value) {
                            $("#inputCargo").append( /* Inclui os elementos vindos da rota */
                                "<option value=" + value.id_cargo + ">" + value.nome_cargo + "</option>"
                            );
                        });
                    },
                });
            }
            getCargo();
        });
    </script>
</head>

<body>
    <div class="container mt-5">
        <h1 class="mb-4">Cadastro de Funcionários</h1>

        <!-- Feedback de Sucesso ou Erro -->
        <div id="mensagem" class="alert d-none"></div>

        <!-- Formulário -->
        <form method="POST" action="/funcionarios/add" id="cadastroForm" class="row g-3">
            <div class="col-md-6">
                <label for="inputNome" class="form-label">Nome</label>
                <input type="text" class="form-control" id="inputNome" placeholder="Nome do Funcionário" required>
            </div>

            <div class="col-md-6">
                <label for="inputTelefone" class="form-label">Telefone</label>
                <input type="text" class="form-control" id="inputTelefone" placeholder="(84) 99999-9999" required>
            </div>

            <div class="col-md-6">
                <label for="inputCpf" class="form-label">CPF</label>
                <input type="text" class="form-control" id="inputCpf" placeholder="123.456.789-00" required>
            </div>
            
            <div class="col-md-6">
                <label for="inputCargo" class="form-label">Cargo</label>
                <select id="inputCargo" class="form-select" required>
                    <option selected>Selecione um cargo</option>
                </select>
            </div> 


            <div class="col-12">
                <button type="submit" class="btn btn-primary">Cadastrar</button>
            </div>
        </form>
    </div>

    <!-- Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>

</body>

</html>